
body {
  margin: 0;
  padding: 0;
}

.item-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.item-card img {
  max-width: 50%; /* 圖像的最大寬度為父元素的100% */
  max-height: 50%; /* 圖像的最大高度為父元素的100% */
  display: block; /* 移除預設的底部間距，使圖像貼合頂部和底部 */
}


.home-title{
  padding-top: 35px;
}

/* Style the navbar */
#navbar {
    position: fixed;
    overflow: hidden;
    background-color: #333;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1; /* 將z-index設置為1，使其覆蓋頁面內容 */
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }