@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #E0C9CB;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#home-title {
    padding-top: 35px;
}


/* 定義category文字區域的樣式 */
.fixed-category {
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px; /* 設定區域寬度 */
    background-color: #333333;
    color: #fff;
    padding: 10px;
    margin-left: 15px;
}

.fixed-category p {
    font-size: 18px;
}

/* 定義位於category文字區域右側的樣式 */
#mainPage {
    margin-left: 210px; /* 與固定文字區域寬度一致，形成空間 */
    padding: 70px 20px 20px;
}
