body {
    background-image: url('../Resources/Login_Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container, .signup-container {
    background-color: rgba(255, 255, 255, 0.905);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.436);
    width: 400px; /* Adjust the width as needed */
    max-width: 100%; /* Ensure it doesn't overflow the viewport */
}

.login-container h2, .signup-container h2 {
    text-align: center;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px 0;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Aligns items vertically in the center */
}

.form-group label {
    font-weight: bold;
    width: 120px; /* Adjust the width as needed */
    min-width: 120px; /* Prevents the label from shrinking */
    margin-right: 10px; /* Adds some space between label and input */
    font-size: 18px;
}

.form-group input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    flex-grow: 1; /* Allows input to take up remaining space */
}

#confirmPassword {
    width: 258px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start of the flex container */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Increase font size */
    width: 150px; /* Decrease width */
    margin-left: auto; /* Center the button */
}

a {
    text-decoration: none; /* 移除底線 */
    color: rgb(89, 36, 247); /* 使用父元素的文本顏色 */
    font-size: 18px;
}

#passwordError {
    display: block; /* To ensure it takes up the full width below the input */
    margin-top: 5px; /* Adds some space between the input and the error message */
    color: red; /* Error message in red for better visibility */
}
