body {
    height: 100%;
    width: 100%;
    margin: 0 auto; /* 居中对齐 */
    padding: 0;
    background: #E0C9CB;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    overflow: auto;
    position: absolute;
}

.avator {
    position: relative;
    width: 17%;
    height: auto;
    top: 15%;
    left: 7%;
}

.avatar-container {
    position: relative;
    width: 100%; /* 设置容器宽度 */
    padding-bottom: 100%; /* 设置与宽度相等的底部填充，以确保高度与宽度相同 */
    border-radius: 50%; /* 使其成为圆形 */
    border: 8px solid #FFF;
    box-sizing: border-box;
    overflow: hidden;
}

.change-avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.avatar-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 使图像占满容器的宽度 */
    height: 100%; /* 使图像高度与容器宽度相同 */
    object-fit: cover; /* 保持图像比例并填充整个容器 */
}


.container {
    margin: 24px;
}

.navigation-section {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 22%;
    margin: 10px;
    padding: 20px;
    border-radius: 50px; /* 圓角設定，根據需要調整 */
    background-color: #D9D9D9; /* 白底 */
}

.navigation-section button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: white; /* 按鈕背景顏色 */
    color: black; /* 按鈕文字顏色 */
    border: none;
    border-radius: 25px; /* 圓角設定，根據需要調整 */
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.content-section {
    top: 10%;
    left: 40%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 50%; 
    height: 80%;
    flex-shrink: 0;
    border-radius: 47px;
    background: #D9D9D9;
    overflow: auto;
}

.AccountSetting-form {
    width: 100%; 
    height: 100%;
    padding: 25px;
    box-sizing: border-box; 
}

.form-group {
    box-sizing: border-box; 
    width: calc(100% - 50px); 
    margin-bottom: 10px; 
}
.form-group label, .form-group input {
    box-sizing: border-box; 
    width: 100%; 
}

.form-group label {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.form-group input {
    padding: 8px; /* 内边距 */
    font-size: 24px;
    margin-left: 10px;
    padding-left: 15px; /* 將文字項目下移 10px */
    flex-shrink: 0;
    border-radius: 5px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
}

.AccountSetting-Button {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Aligns children to the right */
}

.AccountSetting-Button button {
    width: 162px;
    height: 52px;
    margin: 10px; 
    padding: 10px; 
    border-radius: 15px;
    background: #FFF;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

#description {
    margin-left: 10px;
    width: 98%;
    height: 250px;
    flex-shrink: 0;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
    max-height: 300px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
    resize: none; /*用戶將無法調整其大小*/
}

#Banner {
    margin-left: 10px;
    margin-top: 10px;
    width: 95%;
    height: 180px;
    border-radius: 15px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
    flex-shrink: 0;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Confirm {
    color: cornflowerblue;
}

#Cancel {
    color: red;

}

table {
    border-collapse: collapse;
    margin: 10px 10px 10px 20px;
    width: 95%;
}

th, td, #detail {
    padding: 4px;
    font-size: 24px;
    text-align: center;
    max-width: 150px; /* 設定最大寬度 */
    word-wrap: break-word; /* 允許長單詞在必要時換行 */
    text-transform: none;
}

a {
    border: none;
}

th {
    border: 1px solid #dddddd;
    background-color: #D9D9D9;
}

td {
    border: 1px solid #dddddd;
    margin-top: 10px;
}

#detail {
    text-decoration: none;
    color: inherit;
}

tr {
    background-color: #ffffff;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
}


#OrderRecord-detail {
    background-color: #D9D9D9;
    color: #000;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer; /* Makes it clear the button is clickable */
}

.discount {
    color: red;     
    font-weight: bold; 
    font-style: italic; 
    font-size: 0.8em;  
}

.product-description {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    /* transform: translateX(-50%); */
    max-width: 100%;
    overflow: hidden;
}

.product-name-tooltip:hover .product-description {
    visibility: visible;
}