body {
    height: 100%;
    width: 100%;
    margin: 0 auto; /* 居中对齐 */
    padding: 0;
    display: grid;
    background: #E0C9CB;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    overflow: auto;
    position: absolute;
}

.avator {
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 10%;
}

.avatar-container {
    position: relative;
    width: 25%;
    height: auto;
    border-radius: 50%; /* 50% 使其成為圓形 */
    border: 8px solid #FFF;
    box-sizing: border-box;
    overflow: hidden;
}

.avatar-container img {
    width: 100%; /* 使图像占满容器的宽度 */
    height: 100%; /* 保持宽高比例 */
    object-fit: cover; /* 保持图像比例并填充整个容器 */
}

.container {
    margin: 24px;
}

.navigation-section {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 22%;
    margin: 10px;
    padding: 20px;
    border-radius: 50px; /* 圓角設定，根據需要調整 */
    background-color: #D9D9D9; /* 白底 */
}

.navigation-section button {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: white; /* 按鈕背景顏色 */
    color: black; /* 按鈕文字顏色 */
    border: none;
    border-radius: 25px; /* 圓角設定，根據需要調整 */
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.content-section {
    top: 10%;
    left: 40%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 780px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 47px;
    background: #D9D9D9;
}

.AccountSetting-form {
    margin-top: 25px;
    margin-left: 40px;
}

.form-group {
    box-sizing: border-box;
    width: 681px;
    height: 115px;
    flex-shrink: 0;
}

.form-group label {
    box-sizing: border-box;
    width: 681px;
    height: 115px;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.form-group input {
    box-sizing: border-box;
    margin-left: 10px;
    padding-left: 15px; /* 將文字項目下移 10px */
    width: 681px;
    height: 56px;
    flex-shrink: 0;
    font-size: 42px;
    border-radius: 15px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
}

.AccountSetting-Button {
    position: absolute;
    top: 600px;
    left: 400px;
    display: flex;
}

.AccountSetting-Button button {
    width: 162px;
    height: 52px;
    margin-left: 20px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    border: none; /* 將邊框設為無 */
    font-size: 40px;
}

#description {
    margin-left: 10px;
    width: 660px;
    height: 250px;
    flex-shrink: 0;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
    max-height: 300px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
    resize: none; /*用戶將無法調整其大小*/
}

#Banner {
    margin-left: 10px;
    margin-top: 10px;
    width: 680px;
    height: 100px;
    border-radius: 15px;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
    flex-shrink: 0;
    font-size: 24px;
}

#Confirm {
    color: cornflowerblue;
}

#Cancel {
    color: red;

}

table {
    border-collapse: collapse;
    margin: 10px 10px 10px 20px;
    width: 95%;
}

th, td, #detail {
    padding: 4px;
    font-size: 24px;
    text-align: center;
    overflow: hidden; /* 防止長文字溢出 */
    white-space: nowrap; /* 不換行 */
}

a {
    border: none;
}

th {
    border: 1px solid #dddddd;
    background-color: #D9D9D9;
}

td {
    border: 1px solid #dddddd;
    margin-top: 10px;
}

#detail {
    text-decoration: none;
    color: inherit;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* 偶數列 */
tr:nth-child(even) {
    background-color: #c2c2c2;
    border: none; /* 將邊框設為無 */
    outline: none; /* 移除點擊時的輪廓效果 */
}

#OrderRecord-detail {
    background-color: #D9D9D9;
    color: #000;
}
